.img-title {
    width: 150px;
    height: 150px;
}
p li {
    list-style: none;
}
.card{
    width: max-content;
    min-width: 400px;
    height: 800px;
}
.card-container{
    overflow-y: scroll; 
    height: auto;
    display: flex;
}
.text-detail{
    text-align: center;
}
.horizontal-line {
    background-color: red;
}
.color-red {
    color: red;
}


